.App {
  text-align: center;
  background-color: #343a40;
  color: white;
}

.Graph {
  display: flex;
  justify-content: center;
  width: 100%;
}
/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */
